body
{
      direction: ltr;
}
.nav
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:start;
    align-items: center;
    background-color: black;
}
.nav span
{
      display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 50px;
}
.nav .im
{
   width: 100%;

      display: flex;
      text-align: center;
      justify-content: end;
}
.nav .im img
{
    height: 30px;
    width: 15%;
margin-right: 50px;
    display: block;
}
.b
{
    width: 100%;
    height: 60px;
    background-color:darkgray;
    display: flex;
    justify-content: start;
    text-align: center;
    direction: rtl;
    gap: 20px;
}
.b span
{
    width: 20%;
   height: 50px;
     display: flex;

    justify-content: center;
  align-items: center;
    color: black;
}
.mid
{
    width: 100%;
    height: max-content;
    background-color:darkgray;
}
.mid .fr
{
   width: 80%;
   height: 50px;
    display: flex;
    margin:  auto;
    margin-bottom: 20px;
    justify-content: end;
    align-items: center;
    background-color: white;
}
.mid .fr span
{
   margin-right: 20px;
}
.mid .fr button
{
    height: 30px;
    width: 60px;
      margin-right: 700px;
      border: 2px solid black;
      background-color: blue;
      color: white;
      font-weight: 500;
     font-style: normal;
     cursor: pointer;
      transition-duration: 0.5s;
     transition-timing-function: linear;
     transition-delay: 0.1s;
      
}
.mid .sec
{
   width: 80%;
   height: 50px;
    display: flex;
  margin-bottom:20px;
    margin: auto;
    justify-content: end;
    align-items: center;
    background-color: white;

}
.mid .sec span
{
   margin-right: 20px;
}
.mid .sec button
{
    height: 30px;
    width: 60px;
        margin-right: 700px;
      border: 2px solid black;
      background-color: blue;
      color: white;
      font-weight: 500;
     font-style: normal;
     cursor: pointer;
      transition-duration: 0.5s;
     transition-timing-function: linear;
     transition-delay: 0.1s;

}
.mid .thr
{
     width: 80%;
   height: 50px;
    display: flex;
/* margin-left: auto;
margin-right: auto;
    margin-bottom: 20px; */
    margin: 0 auto 20px auto;
    justify-content: end;
    align-items: center;
    background-color: white;
}
.mid .thr span
{
   margin-right: 20px;
}
.mid .thr button
{
   height: 30px;
    width: 60px;
    margin-right: 910px;
      border: 2px solid black;
      background-color: blue;
      color: white;
      font-weight: 500;
     font-style: normal;
     cursor: pointer;
      transition-duration: 0.5s;
     transition-timing-function: linear;
     transition-delay: 0.1s;
}
.mid .fr button:hover
{
    transform: scale(1.2);
   border-radius: 10px;
   background-color: red;
}
.mid .sec button:hover
{
      transform: scale(1.2);
   border-radius: 10px;
     background-color: red;
}
.mid .thr button:hover
{
      transform: scale(1.2);
   border-radius: 10px;
     background-color: red;
}
.mid .four
{
     width: 80%;
   height: 50px;
    background-color: white;
    display: flex;
  margin-bottom: 20px;
margin-right: auto;
margin-left: auto;
   justify-content: end;
   align-items: center;
}
.mid .four span
{
  margin-right: 10px;
}
.mid .five
{
  margin-right: auto;
margin-left: auto;
  margin-bottom: 20px;
    width: 80%;
   height: 80px;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}
.mid .five .aa
{
  width: 100%;
  height: 35px;
  background-color:gray;

   align-items: center;
  justify-content: end;
 display: flex;
 box-sizing: border-box;
padding-right: 10px;
}

.mid .five .bb
{
  width: 100%;
  height: 35px;
  background-color:white;
     align-items: center;
  justify-content: end;
 display: flex;
 box-sizing: border-box;
padding-right: 10px;
}
.six
{
   margin-bottom: 20px;
    width: 80%;
   height: max-content;
margin-right: auto;
margin-left: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  align-items: end;


}
.mid .six .q
{
  height: 50px;
  width: 100%;
  background-color: gray;
   align-items: center;
  justify-content: end;
 display: flex;
 box-sizing: border-box;
padding-right: 10px;
color: white;
}
.mid .six ul li
{
list-style: none;
box-sizing: border-box;
padding-right: 10px;
}
.mid .six .cc
{
  font-size: 100px;
  font-weight:900;
  width: 100%;
  font-style: italic;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;

  text-shadow: 4px 4px 4px red,7px 7px 4px blue,10px 1px 4px green;
}
.mid .six .dd
{
height: max-content;
width: 100%;
border: 2px dashed red;
display: flex;
flex-direction: column;
justify-content: center;
align-items: end;
background-color: silver;
}
.mid .six .dd .r
{
  border: 2px solid red;
  background-color: red;
  color: white;
  width: 70px;
  height: 40px;
display: flex;
margin-right: 5px;
justify-content:center ;
align-items: center;
border-radius: 5px;
margin-top: 5px;
}
.mid .six .dd .m
{
  background-color: white;
  font-size: large;
  background-color: silver;
}
.mid .sevenh 
{
  margin-bottom: 20px;
width: 80%;
   height: max-content;
   margin-right: auto;
margin-left: auto;
  background-color: silver;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  align-items: end;
overflow: hidden;
}
 
.mid .sevenh .ee
{
  background-color: black;

width: 100%;
}
.mid .sevenh  span
{
  height: 30px;
  display: flex;
 align-items: center;
 justify-content: end;
background-color: gray;
width: 100%;
color: white;
 height: 50px;
}
.mid .sevenh .ee p
{

background-color: black;
color: white;
direction: ltr;
align-self: self-start;
width: 100%;
padding-left: 10px;
}
.mid .sevenh .ff 
{
  background-color: white;
  color: black;
  width: 100%;
  height: max-content;
}
.mid .sevenh .ff ol
{
  direction: rtl;
  list-style:circle;
}
.mid .sevenh .zzzz
{
background-color: blue;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
background-color: white;
}
.mid .sevenh .zzzz .z
{
  font-size: xx-large;
  font-weight: 900;
  font-style: italic;
}
.mid .sevenh .zzzz .zz
{
  font-size: x-large;
  font-weight: 700;
  font-style: italic;
}
.mid .sevenh .zzzz .zzz
{
  font-size: large;
  font-weight: 500;
  font-style: italic;
}
.mid .eight
{
  background-color: white;
   width: 80%;
   height: max-content;
   margin: auto;
  

 
}
.mid .eight p
{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  background-color: silver;
  align-items: center;
  margin: 0;
}
.mid .eight .sh 
{
  position: relative;
width: 100%;
height: max-content;
background-color: black;
}
.mid .eight .sh span
{
  
  color: white;
width: 50%;
display: block;

}
.mid .eight .sh .bt
{
  position: absolute;
  height: max-content;
  width: 80px;
  right: 10px;
  top: 15px;

color: white;
font-size: larger;
}
.mid .eight .sh .bt button
{
  background-color: blue;
  color: white;
  font-size: large;
  font-weight: 900;
}
.mid .eight  .tt 
{
  width: 100%;
  height: max-content;  

}
.mid .eight  .tt .yu
{
  height: 50px;
  background-color: white;
border: 3px solid black;
  margin-bottom: 5px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
 
}
.mid .eight .ii
{
  width: 60%;
  height: max-content;
  overflow: hidden;
  margin-left: 430px;

}

.mid .eight .ii .er
{
  font-size: x-large;
  font-weight: 600;
   margin: 10px;
  padding: 40px;
  margin-right: 50px;
    height: max-content;
  box-sizing: border-box;
}
.mid .eight .ii .err
{
   font-size: large;
  font-weight: 400;
   margin: 10px;
     height: max-content;
  padding: 40px;
  margin-right: 50px;
  box-sizing: border-box;
}
.mid .eight .ii .errr
{
  font-size: small;
  font-weight: 400;
   margin: 10px;
     height: max-content;
  padding: 40px;
  margin-right: 50px;
  box-sizing: border-box;
}
.mid .nine
{
  height: max-content;
  width: 80%;
  background-color: white;
  margin: auto;
}
.mid .nine p
{
  background-color: silver;
  direction: rtl;
  padding-right: 10px;
  font-size:large;
  font-weight: bolder;
display: flex;
justify-content: end;
direction: ltr;
align-items: center;
  height:40px;
}
.mid .nine .shape{
  color: white;
  display: flex;
    align-items: center;
  justify-content: end;
  height: 300px;
margin-right: 10px;
  width: 100%;
}
.mid .nine .shape span
{
  font-size: xx-large;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
  font-style:oblique;
  margin-right: 50px;
  background-color:mediumseagreen;
  font-weight: bolder;
}
.mid .nine .jj 
{
  background-color: white;
  /* direction: rtl; */
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 align-items: end;
 
  
}
.mid .nine .jj  span
{
  background-color: silver;
  direction: rtl;
  width: 100%;
  height: 80px;
 font-size: larger; 
 padding-right: 10px;
 box-sizing: border-box;
 display: flex;
 justify-content:start;
 align-items: center;
margin-bottom: 30px;
}
.mid .nine .kk
{
  background-color: white;
 height: 150px;
 flex-direction: column;
 display: flex;
 direction: rtl;
}
.mid .nine .kk span
{
  margin-bottom: 15px;
  height: 50px;
  background-color:dodgerblue;
  display: flex;
  color: white;
  justify-content:start;
  align-items:center;
  font-size: x-large;
}
.mid .bla
{
  background-color: black;
  width: 100%;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content:space-around;
  align-items: center;
   gap: 150px;
}
.mid .bla span
{
display: flex;
  justify-content:center;
  align-items: center;
  color: white;
 padding-right: 10px;
 box-sizing: border-box;
}